openapi: 3.1.0
info:
  title: Commentary Public API
  version: 0.1.0
  summary: Authenticated API and MCP surfaces for Commentary review automation.
  description: This contract documents the stable external API surface. Browser,
    internal, provider-ingress, and test routes are intentionally excluded.
  x-commentary-feature-key: api.openapi_docs
  x-commentary-api-version: v1
  x-commentary-compatibility-policy: /docs/api/versioning.md
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://commentary.dev
    description: Configured Commentary origin.
  - url: http://localhost:3000
    description: Local development.
tags:
  - name: Authentication
  - name: Tokens
  - name: GitHub
  - name: Forms
  - name: Review comments
  - name: Research Studies
  - name: Draft reviews
  - name: Web App reviews
  - name: Knowledge Brain
  - name: Webhooks
  - name: MCP
  - name: Health
  - name: OpenAPI
paths:
  /api/v1/webhook-subscriptions:
    get:
      operationId: listWebhookSubscriptions
      tags:
        - Webhooks
      summary: List workspace webhook subscriptions.
      description: Owner/admin only. Secrets are never returned by reads.
      security:
        - bearerAuth:
            - commentary.webhooks.read
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: createWebhookSubscription
      tags:
        - Webhooks
      summary: Create a scoped webhook subscription and reveal its signing secret once.
      description: Owner/admin only. HTTPS destinations are DNS-resolved and
        SSRF-checked. Idempotency-Key makes creation retry-safe.
      security:
        - bearerAuth:
            - commentary.webhooks.write
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 200
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - endpointUrl
                - eventTypes
              additionalProperties: false
              properties:
                endpointUrl:
                  type: string
                  format: uri
                  pattern: ^https://
                eventTypes: &a2
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - interaction.created.v1
                      - interaction.updated.v1
                      - interaction.revision.created.v1
                      - interaction.decision.recorded.v1
                      - interaction.fulfillment.updated.v1
                      - interaction.terminal.v1
                      - interaction.content_purged.v1
      x-commentary-feature-key: interactions.webhooks
      responses:
        "201":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                description: The data.secret field is displayed only in this response.
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/webhook-subscriptions/{subscriptionId}:
    get:
      operationId: getWebhookSubscription
      tags:
        - Webhooks
      summary: Get a webhook subscription without its secret.
      security:
        - bearerAuth:
            - commentary.webhooks.read
      parameters:
        - &a1
          name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            pattern: ^whs_
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    patch:
      operationId: updateWebhookSubscription
      tags:
        - Webhooks
      summary: Conditionally update endpoint or event scopes.
      security:
        - bearerAuth:
            - commentary.webhooks.write
      parameters:
        - *a1
        - &a3
          name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                endpointUrl:
                  type: string
                  format: uri
                  pattern: ^https://
                eventTypes: *a2
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "412":
          description: The ETag is stale.
        "428":
          description: If-Match is required.
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/webhook-subscriptions/{subscriptionId}/disable:
    post:
      operationId: disableWebhookSubscription
      tags:
        - Webhooks
      summary: Disable delivery and cancel pending attempts.
      security:
        - bearerAuth:
            - commentary.webhooks.write
      parameters:
        - *a1
        - *a3
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/webhook-subscriptions/{subscriptionId}/rotate-secret:
    post:
      operationId: rotateWebhookSubscriptionSecret
      tags:
        - Webhooks
      summary: Rotate and reveal a new signing secret once.
      description: The prior secret stops signing new attempts immediately; later
        reads never redisplay either secret.
      security:
        - bearerAuth:
            - commentary.webhooks.write
      parameters:
        - *a1
        - *a3
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/webhook-subscriptions/{subscriptionId}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
        - Webhooks
      summary: List filtered redacted delivery diagnostics and dead letters.
      description: Returns data and nullable nextCursor for bounded older-delivery
        navigation. Response bodies are whitespace-normalized, size-bounded
        excerpts; request headers, secrets, and raw payload diagnostics are
        never returned.
      security:
        - bearerAuth:
            - commentary.webhooks.read
      parameters:
        - *a1
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      x-commentary-feature-key: interactions.webhooks
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/webhook-subscriptions/{subscriptionId}/deliveries/{deliveryId}/replay:
    post:
      operationId: replayWebhookDelivery
      tags:
        - Webhooks
      summary: Confirm replay of one delivery as a new delivery id.
      description: Replay reports state only; it never executes or approves an action.
      security:
        - bearerAuth:
            - commentary.webhooks.write
      parameters:
        - *a1
        - name: deliveryId
          in: path
          required: true
          schema:
            type: string
            pattern: ^whd_
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirm
              additionalProperties: false
              properties:
                confirm:
                  const: true
      x-commentary-feature-key: interactions.webhooks
      responses:
        "202":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /.well-known/oauth-authorization-server:
    get:
      operationId: getOAuthAuthorizationServerMetadata
      tags:
        - Authentication
      summary: Get OAuth authorization server metadata.
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer:
                    type: string
                    format: uri
                  authorization_endpoint:
                    type: string
                    format: uri
                  token_endpoint:
                    type: string
                    format: uri
                  registration_endpoint:
                    type: string
                    format: uri
                  device_authorization_endpoint:
                    type: string
                    format: uri
                  scopes_supported:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExternalScope"
                additionalProperties: true
  /.well-known/oauth-protected-resource:
    get:
      operationId: getOAuthProtectedResourceMetadata
      tags:
        - Authentication
      summary: Get OAuth protected resource metadata.
      description: The canonical /mcp resource advertises the complete scope catalog,
        matching the general protected-resource and authorization-server
        metadata.
      parameters:
        - name: resource
          in: query
          required: false
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource:
                    type: string
                    format: uri
                  authorization_servers:
                    type: array
                    items:
                      type: string
                      format: uri
                  resource_documentation:
                    type: string
                    format: uri
                  scopes_supported:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExternalScope"
                  commentary_resources:
                    type: array
                    items:
                      type: string
                      format: uri
                  commentary_openapi:
                    type: string
                    format: uri
                additionalProperties: true
  /oauth/register:
    post:
      operationId: registerOAuthClient
      tags:
        - Authentication
      summary: Register a public OAuth client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                redirect_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                grant_types:
                  type: array
                  items:
                    type: string
                response_types:
                  type: array
                  items:
                    type: string
                scope:
                  type: string
                token_endpoint_auth_method:
                  type: string
                  enum:
                    - none
              additionalProperties: true
      responses:
        "201":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                  client_name:
                    type:
                      - string
                      - "null"
                  redirect_uris:
                    type: array
                    items:
                      type: string
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                additionalProperties: true
        "400":
          description: OAuth request error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
  /oauth/authorize:
    get:
      operationId: showOAuthAuthorizePage
      tags:
        - Authentication
      summary: Show the OAuth authorization page.
      description: When a client omits scope for the canonical /mcp resource, the
        signed-in user chooses read-only, review-and-comment, or a custom set at
        consent time. Omitted scope for other resources remains read-only.
      parameters:
        - name: client_id
          in: query
          required: false
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: false
          schema:
            type: string
            format: uri
        - name: response_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - code
        - name: code_challenge
          in: query
          required: false
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: false
          schema:
            type: string
            enum:
              - S256
        - name: scope
          in: query
          required: false
          schema:
            type: string
        - name: resource
          in: query
          required: false
          schema:
            type: string
        - name: state
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: HTML authorization page.
        "302":
          description: Redirect to the client with an authorization error.
    post:
      operationId: approveOAuthAuthorizeRequest
      tags:
        - Authentication
      summary: Approve an OAuth authorization request.
      description: Approves only the permissions displayed and selected by the user.
        Sensitive custom permissions require a separate confirmation.
      security: &a6
        - &a23
          commentarySession: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        "302":
          description: Redirect to the client with an authorization code or error.
  /oauth/device/code:
    post:
      operationId: createOAuthDeviceCode
      tags:
        - Authentication
      summary: Start OAuth device authorization.
      description: Scope-less requests for the canonical /mcp resource defer
        permission selection to the signed-in device consent page; other
        omitted-scope requests stay read-only.
      requestBody:
        required: true
        content:
          application/json:
            schema: &a4
              type: object
              required:
                - client_id
              properties:
                client_id:
                  type: string
                scope:
                  type: string
                target:
                  $ref: "#/components/schemas/TokenTarget"
                resource:
                  type: string
                client_name:
                  type: string
          application/x-www-form-urlencoded:
            schema: *a4
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_code:
                    type: string
                  user_code:
                    type: string
                  verification_uri:
                    type: string
                    format: uri
                  verification_uri_complete:
                    type: string
                    format: uri
                  expires_in:
                    type: integer
                  interval:
                    type: integer
        "400":
          description: OAuth request error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
  /oauth/token:
    post:
      operationId: exchangeOAuthToken
      tags:
        - Authentication
      summary: Exchange OAuth authorization code, device code, or refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema: &a5
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - refresh_token
                    - urn:ietf:params:oauth:grant-type:device_code
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
                client_id:
                  type: string
                code_verifier:
                  type: string
                refresh_token:
                  type: string
                device_code:
                  type: string
                resource:
                  type: string
          application/x-www-form-urlencoded:
            schema: *a5
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthToken"
        "400":
          description: OAuth request error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "401":
          description: OAuth token exchange was rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
  /api/health:
    get:
      operationId: getHealth
      tags:
        - Health
      summary: Get shallow, deep, storage, or PostgreSQL health.
      parameters:
        - name: check
          in: query
          required: false
          schema:
            type: string
            enum:
              - postgres
              - storage
              - deep
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "503":
          description: Health check failed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v1/tokens:
    get:
      operationId: listApiTokens
      tags:
        - Tokens
      summary: List API tokens for the signed-in provider connection.
      security: *a6
      x-commentary-feature-key: api.agent_access
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - tokens
                properties:
                  ok:
                    const: true
                  tokens:
                    type: array
                    items:
                      $ref: "#/components/schemas/TokenSummary"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: createApiToken
      tags:
        - Tokens
      summary: Create an API token for scripts, MCP clients, or agents.
      description: Issuance is atomic. Retry unchanged settings with the same
        Idempotency-Key after an uncertain outcome. Replay confirms the existing
        credential without returning its one-time secret; deliberately rotate it
        in Account Developer access for recovery.
      security: *a6
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 200
          description: Stable key for one issue. Omission preserves legacy non-idempotent
            requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
      x-commentary-feature-key: api.agent_access
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - id
                  - grantId
                  - tokenHint
                properties:
                  ok:
                    const: true
                  id:
                    type: string
                  grantId:
                    type: string
                  replayed:
                    type: boolean
                  token:
                    type: string
                    description: One-time secret, present only for the original successful issue.
                  tokenHint:
                    type: string
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "409":
          description: The issuance key was reused with different settings or the
            connected account changed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/tokens/{tokenId}:
    delete:
      operationId: revokeApiToken
      tags:
        - Tokens
      summary: Revoke an API token.
      security: *a6
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
          description: API token id.
      x-commentary-feature-key: api.agent_access
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - id
                properties:
                  ok:
                    const: true
                  id:
                    type: string
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/github/app-access/diagnostics:
    get:
      operationId: diagnoseGitHubAppAccess
      tags:
        - GitHub
      summary: Diagnose GitHub App installation access for an account-scoped token.
      description: Returns the same installation status and setup links used by the
        Commentary workspace. This endpoint is read-only and never installs or
        modifies GitHub Apps.
      security:
        - bearerAuth:
            - commentary.review.read
      parameters:
        - name: owner
          in: query
          required: false
          schema:
            type: string
          description: Repository owner.
        - name: repo
          in: query
          required: false
          schema:
            type: string
          description: Repository name.
        - name: target
          in: query
          required: false
          schema:
            type: string
          description: Repository target as owner/repo or a GitHub repository URL.
        - name: redirectTo
          in: query
          required: false
          schema:
            type: string
          description: Optional browser resume path for generated setup links.
        - name: installStatus
          in: query
          required: false
          schema:
            type: string
          description: Optional GitHub install callback status to explain after setup
            redirects.
      x-commentary-feature-key: github.installation_diagnostics.read
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  diagnostic:
                    $ref: "#/components/schemas/GitHubInstallationDiagnostic"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms:
    get:
      operationId: listForms
      tags:
        - Forms
      summary: List owned forms and visible result collections for the account-scoped
        token principal.
      security:
        - bearerAuth:
            - commentary.forms.read
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  forms:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  resultCollections:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: createForm
      tags:
        - Forms
      summary: Reject standalone Forms API creation.
      description: Standalone Forms API creation has been removed. Agents should
        create or update draft review files through draft-review APIs, or author
        Git-backed form definitions in the reviewed source.
      security:
        - bearerAuth:
            - commentary.forms.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormContractRequest"
      x-commentary-feature-key: forms.agent_api
      responses:
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "410":
          description: Standalone form creation has been removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/validate:
    post:
      operationId: validateFormContract
      tags:
        - Forms
      summary: Validate a literal Form Contract v1 payload without persisting it.
      security:
        - bearerAuth:
            - commentary.forms.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormContractRequest"
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  valid:
                    type: boolean
                  contract:
                    $ref: "#/components/schemas/FormContract"
                  diagnostics:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/embedded-answers:
    get:
      operationId: listEmbeddedFormAnswers
      tags:
        - Forms
      summary: List embedded review form answers for an authorized result context.
      description: Requires explicit Forms read scope for raw submission values.
        Review-scoped tokens must include repository owner/repo and prNumber or
        branchRef, or draftReviewSessionId, in the query. Result-list access
        still requires draft ownership or a trusted source write-permission
        determination; callers cannot grant this by passing sourceContext
        fields.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - name: formId
          in: query
          required: false
          schema:
            type: string
        - &a8
          name: provider
          in: query
          required: false
          schema:
            type: string
            enum:
              - github
        - &a9
          name: owner
          in: query
          required: false
          schema:
            type: string
          description: Repository owner.
        - &a10
          name: repo
          in: query
          required: false
          schema:
            type: string
          description: Repository name.
        - &a11
          name: pr
          in: query
          required: false
          schema:
            type: integer
          description: Pull request number.
        - &a12
          name: prNumber
          in: query
          required: false
          schema:
            type: integer
          description: Pull request number alias used by Brain endpoints.
        - &a13
          name: branch
          in: query
          required: false
          schema:
            type: string
          description: Branch ref for branch document review.
        - &a14
          name: branchRef
          in: query
          required: false
          schema:
            type: string
          description: Branch ref alias used by Brain endpoints.
        - &a15
          name: rootFolder
          in: query
          required: false
          schema:
            type: string
          description: Knowledge Brain root folder.
        - &a16
          name: brainRootFolder
          in: query
          required: false
          schema:
            type: string
          description: Knowledge Brain root folder alias.
        - name: draftReviewSessionId
          in: query
          required: false
          schema:
            type: string
        - name: webAppReviewId
          in: query
          required: false
          schema:
            type: string
        - name: filePath
          in: query
          required: false
          schema:
            type: string
        - name: documentVersionId
          in: query
          required: false
          schema:
            type: string
        - name: formInstanceId
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  submissions:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/fillout-links:
    get:
      operationId: listFormFilloutLinks
      tags:
        - Forms
      summary: List response links owned by the account-scoped token principal.
      security:
        - bearerAuth:
            - commentary.forms.read
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  filloutLinks:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: createFormFilloutLink
      tags:
        - Forms
      summary: Create a response link from an accessible source-backed form.
      description: The caller becomes the dedicated result-set owner. The source
        review remains the edit location, and source review owners do not
        automatically see response-link replies.
      security:
        - bearerAuth:
            - commentary.forms.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - formId
              properties:
                formId:
                  type: string
                sourceContext:
                  type: object
                  additionalProperties: true
                sourceReviewHref:
                  type: string
                renderer:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - default
                        - review_file
                    path:
                      type: string
                    kind:
                      type: string
                      enum:
                        - markdown
                        - html
                  additionalProperties: true
                shareMode:
                  type: string
                  enum:
                    - specific_user
                    - authenticated
                    - anonymous
                replyMode:
                  type: string
                  enum:
                    - identified
                    - anonymous
                repeatSubmissions:
                  type: boolean
                recipient:
                  type: object
                  additionalProperties: true
              additionalProperties: true
      x-commentary-feature-key: forms.agent_api
      responses:
        "201":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  filloutLink:
                    type: object
                    additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/fillout-links/submit:
    post:
      operationId: submitFormFilloutLink
      tags:
        - Forms
      summary: Submit answers through a response link.
      description: Identified links require an authenticated Forms submit token.
        Anonymous reply mode intentionally omits submitter identity from stored
        submission records.
      security:
        - bearerAuth:
            - commentary.forms.submit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                shareToken:
                  type: string
                values:
                  type: object
                  additionalProperties: true
                submissionOrigin:
                  type: string
                  enum:
                    - api
                    - mcp
                    - cli
                    - agent_api
                agentAlias:
                  type: string
                clientName:
                  type: string
              additionalProperties: true
      x-commentary-feature-key: forms.agent_api
      responses:
        "201":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  submission:
                    $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/fillout-links/{linkId}:
    delete:
      operationId: revokeFormFilloutLink
      tags:
        - Forms
      summary: Revoke a response link owned by the account-scoped token principal.
      security:
        - bearerAuth:
            - commentary.forms.write
      parameters:
        - &a7
          name: linkId
          in: path
          required: true
          schema:
            type: string
          description: Response link id.
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/fillout-links/{linkId}/results:
    get:
      operationId: listFormFilloutLinkResults
      tags:
        - Forms
      summary: List result submissions owned by a response link.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a7
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  filloutLink:
                    type: object
                    additionalProperties: true
                  submissions:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}:
    get:
      operationId: getForm
      tags:
        - Forms
      summary: Get a form contract and metadata.
      description: Review-scoped tokens can read embedded forms only when query
        parameters identify the covered review context.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - &a17
          name: formId
          in: path
          required: true
          schema:
            type: string
          description: Form id or reference id.
        - *a8
        - *a9
        - *a10
        - *a11
        - *a12
        - *a13
        - *a14
        - *a15
        - *a16
        - name: draftReviewSessionId
          in: query
          required: false
          schema:
            type: string
        - name: filePath
          in: query
          required: false
          schema:
            type: string
        - name: documentVersionId
          in: query
          required: false
          schema:
            type: string
        - name: formInstanceId
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  form:
                    $ref: "#/components/schemas/FormRecord"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    patch:
      operationId: updateForm
      tags:
        - Forms
      summary: Reject standalone Forms API editing.
      description: Standalone Forms API editing has been removed. Update the source
        review artifact or draft review file instead.
      security:
        - bearerAuth:
            - commentary.forms.write
      parameters:
        - *a17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormContractRequest"
      x-commentary-feature-key: forms.agent_api
      responses:
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "410":
          description: Standalone form editing has been removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/destinations:
    get:
      operationId: listFormDestinations
      tags:
        - Forms
      summary: List form destinations and read-only write-back status.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  formId:
                    type: string
                  destinations:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  destinationConfig:
                    type: object
                    additionalProperties: true
                  writebackStatus:
                    type: object
                    additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/destinations/writeback:
    get:
      operationId: getFormWritebackStatus
      tags:
        - Forms
      summary: Inspect optional GitHub writeback availability for a form target.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
        - name: owner
          in: query
          required: false
          schema:
            type: string
        - name: repo
          in: query
          required: false
          schema:
            type: string
        - name: branch
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: baseBranch
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  formId:
                    type: string
                  writebackStatus:
                    type: object
                    additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: writeFormArtifactToGitHub
      tags:
        - Forms
      summary: Explicitly write a form definition or final submission batch to GitHub
        through the optional writeback app.
      description: Requires commentary.forms.writeback, the forms.github_writeback
        license feature, a configured optional GitHub writeback app, an
        installed repository target, and a valid branch/path target. Submission
        writeback accepts submissionId or submissionIds, writes one canonical
        JSON result file per submission in one commit, overwrites existing
        result paths, can explicitly create target branches with
        target.createBranch and target.baseBranch, and can optionally open a
        pull request. Commentary storage remains available when writeback is
        unavailable.
      security:
        - bearerAuth:
            - commentary.forms.writeback
      parameters:
        - *a17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetType:
                  type: string
                  enum:
                    - form_definition
                    - submission
                submissionId:
                  type: string
                submissionIds:
                  type: array
                  items:
                    type: string
                  maxItems: 50
                target:
                  type: object
                  properties:
                    owner:
                      type: string
                    repo:
                      type: string
                    branch:
                      type: string
                    path:
                      type: string
                    baseBranch:
                      type: string
                    createBranch:
                      type: boolean
                  additionalProperties: false
                format:
                  type: string
                  enum:
                    - json
                    - yaml
                commitMessage:
                  type: string
                openPullRequest:
                  type: boolean
                pullRequestTitle:
                  type: string
                pullRequestBody:
                  type: string
              additionalProperties: true
      x-commentary-feature-key: forms.github_writeback
      responses:
        "202":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  formId:
                    type: string
                  submissionId:
                    type: string
                  submissionIds:
                    type: array
                    items:
                      type: string
                  writeback:
                    type: object
                    additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/git-results:
    get:
      operationId: listFormGitResults
      tags:
        - Forms
      summary: List canonical git-hosted result files for a source-backed form.
      description: Discovers files in the canonical results directory near the form
        source path. Use action=status for read-only sync status and canonical
        location details.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
        - name: action
          in: query
          required: false
          schema:
            type: string
            enum:
              - list
              - status
        - name: owner
          in: query
          required: false
          schema:
            type: string
        - name: repo
          in: query
          required: false
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
        - name: branch
          in: query
          required: false
          schema:
            type: string
        - name: sourcePath
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  formId:
                    type: string
                  target:
                    type: object
                    additionalProperties: true
                  files:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  diagnostics:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: syncFormGitResults
      tags:
        - Forms
      summary: Preview result writeback or explicitly import canonical git-hosted
        result files.
      description: Import and preview actions require commentary.forms.writeback and
        the forms.github_writeback license feature. Import validates canonical
        JSON/YAML result files, deduplicates by external id, records audit
        events, and stores imported submissions with git sync metadata.
      security:
        - bearerAuth:
            - commentary.forms.writeback
      parameters:
        - *a17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormGitResultsRequest"
      x-commentary-feature-key: forms.github_writeback
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "202":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/submissions:
    get:
      operationId: listFormSubmissions
      tags:
        - Forms
      summary: List submissions for a permitted result collection.
      description: Result-list access is separate from form fill access. Draft results
        default to the draft owner; PR and branch results require trusted
        write-permission detection. When write permission cannot be determined,
        list access is denied.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  submissions:
                    type: array
                    items:
                      $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
    post:
      operationId: submitForm
      tags:
        - Forms
      summary: Submit final form answers.
      description: All writes validate server-side. Invalid answers are stored as
        draft validation failures and return diagnostics without finalizing.
      security:
        - bearerAuth:
            - commentary.forms.submit
      parameters:
        - *a17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormSubmissionRequest"
      x-commentary-feature-key: forms.agent_api
      responses:
        "201":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  submission:
                    $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/submissions/events:
    get:
      operationId: streamFormSubmissionEvents
      tags:
        - Forms
      summary: Stream final form submission events using Server-Sent Events.
      description: Streams summary-only submission.submitted events for permitted
        result contexts. Raw values are not included in the event payload; call
        the submission detail endpoint when value access is required.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Event cursor or latest.
        - name: once
          in: query
          required: false
          schema:
            type: string
            enum:
              - "1"
          description: Return the current batch and close.
        - name: kind
          in: query
          required: false
          schema:
            type: string
          description: Source context kind for review-scoped submissions.
        - name: draftReviewSessionId
          in: query
          required: false
          schema:
            type: string
        - name: webAppReviewId
          in: query
          required: false
          schema:
            type: string
        - name: owner
          in: query
          required: false
          schema:
            type: string
        - name: repo
          in: query
          required: false
          schema:
            type: string
        - name: prNumber
          in: query
          required: false
          schema:
            type: integer
        - name: branchRef
          in: query
          required: false
          schema:
            type: string
        - name: filePath
          in: query
          required: false
          schema:
            type: string
        - name: documentVersionId
          in: query
          required: false
          schema:
            type: string
        - name: formInstanceId
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Server-Sent Events stream.
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/submissions/validate:
    post:
      operationId: validateFormAnswers
      tags:
        - Forms
      summary: Validate form answers against the current form contract without storing
        a submission.
      security:
        - bearerAuth:
            - commentary.forms.submit
      parameters:
        - *a17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FormSubmissionRequest"
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  valid:
                    type: boolean
                  diagnostics:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/forms/{formId}/submissions/{submissionId}:
    get:
      operationId: getFormSubmission
      tags:
        - Forms
      summary: Read or export one form submission including raw values for an
        authorized principal.
      description: Pass format=json, yaml, or csv to download a bounded stable export
        for one submission. CSV is available only when submitted field values
        are tabular scalars or scalar arrays.
      security:
        - bearerAuth:
            - commentary.forms.read
      parameters:
        - *a17
        - name: submissionId
          in: path
          required: true
          schema:
            type: string
          description: Form submission id.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - json
              - yaml
              - csv
          description: Optional export format. Omit for the normal JSON API envelope.
        - name: kind
          in: query
          required: false
          schema:
            type: string
          description: Source context kind when exporting a review-scoped embedded answer.
        - name: draftReviewSessionId
          in: query
          required: false
          schema:
            type: string
        - name: webAppReviewId
          in: query
          required: false
          schema:
            type: string
        - name: owner
          in: query
          required: false
          schema:
            type: string
        - name: repo
          in: query
          required: false
          schema:
            type: string
        - name: prNumber
          in: query
          required: false
          schema:
            type: integer
        - name: branchRef
          in: query
          required: false
          schema:
            type: string
        - name: filePath
          in: query
          required: false
          schema:
            type: string
        - name: documentVersionId
          in: query
          required: false
          schema:
            type: string
        - name: formInstanceId
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: forms.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  submission:
                    $ref: "#/components/schemas/FormSubmission"
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "409":
          description: CSV export is not available for this submission shape.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "413":
          description: The export exceeded the size limit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v1/research-capabilities:
    get:
      operationId: discoverResearchCapabilities
      tags:
        - Research Studies
      summary: Discover supported Research methods, Forms, Reviews, approval gates,
        bounds, and companion agent tools.
      description: Returns the versioned method-composition registry. Specialist
        analytics, A/B testing, eye tracking, and field tooling are advertised
        only as external evidence integrations. Requires
        commentary.research.read and does not grant provider write permission.
        Legacy migration is an owner-approved administrative workflow and is
        intentionally not exposed to external agents.
      security:
        - bearerAuth:
            - commentary.research.read
      x-commentary-feature-key: research.studies.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - capabilities
                properties:
                  ok:
                    const: true
                  capabilities:
                    type: object
                    additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v2/research-studies:
    get:
      operationId: listResearchWorkflowsV2
      tags:
        - Research Studies
      summary: List Research v2 linear typed workflows visible to the external token.
      description: Returns capability version 2 studies with ordered Content,
        Activity, and Form steps. Research API v1 is a one-release 410 Gone
        tombstone.
      security:
        - bearerAuth:
            - commentary.research.read
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      x-commentary-feature-key: research.studies.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    const: true
                  capabilityVersion:
                    const: 2
                  studies:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v2/research-studies/{studyId}:
    get:
      operationId: getResearchWorkflowV2
      tags:
        - Research Studies
      summary: Get one Research v2 workflow and its ordered typed steps.
      security:
        - bearerAuth:
            - commentary.research.read
      parameters:
        - &a18
          name: studyId
          in: path
          required: true
          schema:
            type: string
          description: Research Study id.
      x-commentary-feature-key: research.studies.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
  /api/v2/research-studies/{studyId}/events:
    get:
      operationId: listResearchWorkflowEventsV2
      tags:
        - Research Studies
      summary: List bounded privacy-filtered workflow events, optionally filtered by
        stepId.
      security:
        - bearerAuth:
            - commentary.research.read
      parameters:
        - *a18
        - name: stepId
          in: query
          required: false
          schema:
            type: string
      x-commentary-feature-key: research.studies.agent_api
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: The request was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "401":
          description: Authentication is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "403":
          description: The token or session does not have permission for this resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "404":
          description: The resource was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalError"
        "429":
          description: The request was rate limited.
          content:
            application/json:
              schema:
[...]
